
<body>
<app-header></app-header>
  <div class="container">
    <section class="section cows">
        <div class="cow img">
          <img src="./assets/images/cow.png" alt="">
          <button class="add-button" routerLink="/register-animals">Register Cow</button>
        </div>
      <div class="items">
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button style="background: #DD763D"
        routerLink="/my-animals-table/cows">
          See All</button>
      </div>
    </section>
    <section class="section sheeps">
      <div class="sheep img">
        <img src="./assets/images/sheep.png" alt="">
        <button class="add-button" routerLink="/register-animals">Register Sheep</button>
      </div>
      <div class="items">
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button style="background: #DD763D">See All</button>
      </div>
    </section>
    <section class="section goats">
      <div class="goat img">
        <img src="./assets/images/goat.png" alt="">
        <button class="add-button" routerLink="/register-animals">Register Goat</button>
      </div>
      <div class="items">
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button>#v001</button>
        <button style="background: #DD763D">See All</button>
      </div>

    </section>

  </div>

</body>
