
mat-toolbar{
  background: #91644D;
  display: flex;
  justify-content: center;
}

img{
  width: 50px;
  margin-right: 20px;
}

label{
  color: #CF411A;
  font-weight: bold;
}
span{
  color: black;
}
